# Ignore Python virtual environments
venv/
.python-version

# Ignore cache files
*__pycache__/

# Ignore logs
*.log
wandb/*

# Ignore temporary files created by IDEs or editors
.vscode/
.idea/

# Ignore large files
checkpoints/
results/
data/
graphs/

# Ignore temporary files
tmp*

# Ignore environment files
.env
