dataset_name: cifar10

diffusion:
  groups/diffusion.yaml

entropy_schedule:
  groups/entropy_schedule.yaml

ddpm:
  groups/ddpm.yaml

ddpm_training:
  groups/ddpm_training.yaml

data_augmentation:
  groups/data_augmentation.yaml

sample:
  groups/sample.yaml

forward_stats:
  groups/forward_stats.yaml

empirical_stats:
  groups/empirical_stats.yaml

fid:
  groups/fid.yaml
